.menu-btn {
    z-index: 20;
    cursor: pointer;
    
    .btn-line {
      width: 28px;
      height: 3px;
      background: black;
      transition: transform 0.2s ease-in-out;
      margin:0 0 5px 0;
    }

    //   Rotate Into X With Menu Lines
    &.close {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: translate(180deg);
    
      .btn-line {
        background:white;

        // Line 1 - Rotate
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
          -webkit-transform:rotate(45deg) translate(5px, 5px);
          -moz-transform: rotate(45deg) translate(5px, 5px);
          -o-transform:rotate(45deg) translate(5px, 5px);
          -ms-transform:rotate(45deg) translate(5px, 5px);
        }

        // Line 2 - Hide
        &:nth-child(2) {
          opacity: 0;
        }

        // Line 3 - Rotate

        &:nth-child(3) {
          transform: rotate(-45deg) translate(6.5px, -6.5px);
          -webkit-transform: rotate(-45deg) translate(6.5px, -6.5px);
          -moz-transform: rotate(-45deg) translate(6.5px, -6.5px);
          -o-transform: rotate(-45deg) translate(6.5px, -6.5px);
          -ms-transform: rotate(-45deg) translate(6.5px, -6.5px);
        }
      }
    }
  }

  .menu {
    display:none;
    
    .menu-ul {
       @include flex;
       margin-top: 1.5rem;
       
       .menu-item {
           width:80%;
           padding:1rem 0;
           text-align: center;
           font-size: 1.2rem;
           text-transform: uppercase;
           letter-spacing: 1px;
           
          
           &:first-child {
               border-top:1px solid gray;
               border-bottom:1px solid gray;
           }

           &:nth-child(2),&:nth-child(3) {
            border-bottom:1px solid gray;
           }

           .links {
               color:white;
           }

           a {
               width:100%;
           }

           .login-btn {
               border:2px solid white;
               width:100%;
               padding:.5rem 0;
               text-transform: uppercase;
               border-radius:5px;
               font-size: 1.2rem;
               color:white;
               letter-spacing: 1px;
           }
       }
    }

    &.show {
        display:block;
        background-color:rgba(39, 45, 77,0.8);
        position:absolute;
        width:100%;
        height:100%;
    }
 }
